<h1>Thank you for ordering at Jungle</h1>
Your Order Number is :<%= @order.id %>

Here are the details of your order:

<%= @order.line_items.product %>

TOTAL PRICE: <%= @order.line_items.sum(:total_price_cents)/100.to_f %>
